*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.span {
  color: #000000;
}

.span-white {
  color: #ffffff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  min-width: 480px;
}

.logo {
  display: inline-flex;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 16px;
    margin-right: 269px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 26px;
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 24px;
    margin-right: 85px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.container-menu.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .container-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container-menu {
    padding: 20px;
    text-align: center;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .container-menu {
    display: flex;
    align-items: center;
  }
}

.menu-btn {
  display: inline-flex;
  margin-top: 10px;
  padding: 12 8;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-right: 84px;
  }
}

.navigation-list-link {
  position: relative;
  display: inline-flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:focus, .navigation-list-link:hover {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list-item:first-child {
    margin-top: 45px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list-link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
    margin-left: 200px;
    margin-top: 17px;
  }
}

.contact-mail-link,
.contact-tel-link {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail-link:focus,
.contact-tel-link:focus,
.contact-mail-link:hover,
.contact-tel-link:hover {
  color: #2196f3;
}

.contact-mail-link:hover .address-svg {
  fill: #2196f3;
}

.contact-tel-link:hover .address-svg {
  fill: #2196f3;
}

.contact-mail-link:focus .address-svg {
  fill: #2196f3;
}

.contact-tel-link:focus .address-svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-mail-link,
  .contact-tel-link {
    font-size: 18px;
    line-height: 1.166;
  }
}

@media screen and (max-width: 767px) {
  .mail-item {
    margin-top: 60px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .tel-item {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact-mail-link,
  .contact-tel-link {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .mail-item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-mail-link,
  .contact-tel-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.active {
  color: #2196f3;
}

.active::after {
  position: absolute;
  display: block;
  width: 100%;
  content: '';
  height: 4px;
  left: 0;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .active::after {
    bottom: -9px;
  }
}

@media screen and (min-width: 768px) {
  .active::after {
    bottom: -38px;
  }
}

.address-svg {
  fill: #757575;
}

.header-portfolio::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ececec;
  margin-top: 0;
}

.svg-menu:hover,
.svg-menu:focus {
  fill: #2196f3;
}

.hero {
  min-width: 480px;
}

.hero-list-btn {
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero-list-btn {
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list-btn {
    justify-content: center;
    margin-bottom: 14px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-list-btn {
    margin-top: 94px;
    margin-bottom: 34px;
  }
}

.hero-list:not(:last-child) {
  margin-right: 8px;
}

.modal-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover, .modal-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  outline: none;
}

@media screen and (max-width: 767px) {
  .hero-list:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.hero-list-gallery {
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero-list-gallery {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list-gallery {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-list-gallery {
    margin-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .hero-list-img {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list-img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-list-img {
    width: 370px;
  }
}

.hero-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .hero-list-item {
    width: 450px;
    height: 404px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list-item {
    width: 354px;
    height: 404px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-list-item {
    width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .hero-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-left: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-left: 24px;
}

.hero-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list-item:hover .overlay {
  transform: translateY(0%);
}

.hero-list-link:focus .overlay {
  transform: translateY(0%);
}

.overlay-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  margin: 64px 24px;
}

@media screen and (max-width: 767px) {
  .overlay {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .overlay-description {
    margin: 74px 24px;
  }
}

@media screen and (min-width: 768px) {
  .overlay-description {
    margin: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-description {
    margin: 64px 24px;
  }
}

.footer {
  background-color: #2f303a;
  min-width: 480px;
}

.footer .logo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer .logo {
    margin-left: 33px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .logo {
    font-size: 26px;
    line-height: 1.192;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .address-list {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer .address-list {
    padding-left: 76px;
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .address-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 60px;
    width: 216px;
  }
}

.contact-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list-link {
  margin-bottom: 8px;
}

.footer .contact-mail-link,
.footer .contact-tel-link {
  font-size: 14px;
  line-height: 1.714;
}

@media screen and (min-width: 768px) {
  .footer .contact-mail-link,
  .footer .contact-tel-link {
    margin-left: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .contact-mail-link,
  .footer .contact-tel-link {
    margin-left: 0;
  }
}

.list-dark {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list-dark {
    margin-top: 65px;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .list-dark {
    margin-top: 92px;
    margin-right: 94px;
    margin-left: 69px;
    text-align: start;
  }
}

.dark-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list-dark {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-top: 20px;
  margin: 0 auto;
}

.social-item-dark {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-link-dark {
  display: flex;
  justify-content: center;
  padding-top: 27%;
  padding-bottom: 27%;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-dark:hover, .social-link-dark:focus {
  background-color: #2196f3;
}

.social-svg-dark {
  fill: #ffffff;
}

.mailing-wrapper {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .mailing-wrapper {
    margin-left: 166px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-wrapper {
    text-align: start;
    margin-top: 92px;
    margin-left: 0;
  }
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-input {
  height: 50px;
  border-radius: 4px;
  margin-top: 20px;
  padding: 15px 16px;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 1199px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  fill: #ffffff;
  margin-top: 20px;
  margin-left: 130px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .subscribe-btn {
    margin-left: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

.svg-form-footer {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}
/*# sourceMappingURL=portfolio.css.map */