.header {
  position: relative;
}

.logo {
  display: inline-flex;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #2196f3;

  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-right: 269px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 26px;
    margin-right: 81px;
  }
}

.menu-btn {
  display: inline-flex;
  margin-top: 10px;
  padding: 12 8;
  border: none;
  background-color: transparent;
  cursor: pointer;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation-list-link {
  position: relative;
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.166;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.142;
  }

  &:focus {
    color: #2196f3;
  }
}

.active {
  color: #2196f3;

  &::after {
    position: absolute;
    display: block;
    width: 100%;
    content: '';
    height: 4px;
    left: 0;
    bottom: -9px;
    background: #2196f3;
    border-radius: 2px;
  }

  //   @media screen and (max-width: 767px) {
  //     bottom: -9px;
  //   }

  //   @media screen and (min-width: 768px) {
  //     bottom: -9%;
  //   }
  // }

  .navigation-list-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      padding-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }

  .navigation-list-item:first-child {
    @media screen and (max-width: 767px) {
      margin-top: 45px;
    }
  }

  .contact-mail-link,
  .contact-tel-link {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 1.166;
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.166;
    }
  }

  .contact-mail-link:focus,
  .contact-tel-link:focus {
    color: #2196f3;
  }

  .contact-mail-link:focus {
    fill: #2196f3;
  }

  .contact-tel-link:focus {
    fill: #2196f3;
  }

  .mail-item {
    @media screen and (max-width: 767px) {
      margin-top: 60px;
      padding-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .tel-item {
    @media screen and (max-width: 767px) {
      padding-bottom: 60px;
    }
  }

  .address-svg {
    fill: #757575;
  }

  .navigation {
    z-index: 100;
  }

  .navigation {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  .navigation-list {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-top: 32px;
      margin-right: 84px;
    }
  }

  .address {
    @media screen and (min-width: 768px) {
      margin-top: 21px;
    }
  }
}

// / .header {
//   padding-top: 24px;

//   &-portfolio::after {
//     display: block;
//     content: '';
//     width: 1519px;
//     height: 1px;
//     background-color: #ececec;
//     margin-top: 32px;
//   }
// }

// .contact-mail-link {
//   margin-right: 50px;
// }
// .navigation {
//   display: flex;
//   align-items: center;

//   &-list {
//     display: flex;

//     &-item:not(:last-child) {
//       margin-right: 50px;
//     }

// &-link {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: #212121;
//   padding-bottom: 40px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       &:hover,
//       &:focus {
//         color: #2196f3;
//       }
//     }
//   }
// }
//   .header & {
//     margin-left: auto;
//   }

//   &-svg {
//     margin-right: 10px;
//     fill: #757575;

//     .contact-mail-link:hover & {
//       fill: #2196f3;
//     }
//     .contact-tel-link:hover & {
//       fill: #2196f3;
//     }

//     .contact-mail-link:focus & {
//       fill: #2196f3;
//     }

//     .contact-tel-link:focus & {
//       fill: #2196f3;
//     }
//   }
// }

// .contact-mail-link:hover,
// .contact-mail-link:focus,
// .contact-tel-link:hover,
// .contact-tel-link:focus {
//   color: #2196f3;
// }

// .active {
//   color: #2196f3;

//   &::after {
//     position: absolute;
//     display: block;
//     width: 100%;
//     content: '';
//     height: 4px;
//     background: #2196f3;
//     border-radius: 2px;
//     bottom: 0;
//
