*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.span {
  color: #000000;

  &-white {
    color: #ffffff;
  }
}
